<ion-header>
  <ion-toolbar color="primary">
    <ion-title>班课信息</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/student/list" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item>
      <ion-label>课程名称</ion-label>
      <ion-note>42</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>课程编号</ion-label>
      <ion-note>42</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>任课老师</ion-label>
      <ion-note>42</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>上课时间</ion-label>
      <ion-note>42</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>上课地点</ion-label>
      <ion-note>42</ion-note>
    </ion-item> 
  </ion-list>

  <ion-button (click)="onClickJoin()" expand="block" fill="solid"  class="join-btn">
    加入班课
  </ion-button>


</ion-content>
