<ion-header>
  <ion-toolbar color="primary">
    <ion-title>注册</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passport/login" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #signupForm="ngForm">

    <ion-slides #signupSlides style="width: 100%;">
      <ion-slide>
        <ion-list>
          <ion-item lines="none">
          </ion-item>
          <ion-item>
            <ion-label position="fixed">手机号</ion-label>
            <ion-input name="phone" type="number" placeholder="请输入手机号"
            required pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$"
            [(ngModel)]="signup.phone"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="fixed">验证码</ion-label>
            <ion-input name="code" type="number" placeholder="请输入验证码" [(ngModel)]="code"></ion-input>
            <ion-button (click)="getCode()" expand="block" fill="clear" shape="round">
              获取验证码
            </ion-button>
          </ion-item>
          <ion-item lines="none">
          </ion-item>
          <ion-button (click)="onNext()" expand="block">
            下一步
          </ion-button>
        </ion-list>
      </ion-slide>
  
      <ion-slide>
        <ion-list>
          <ion-item lines="none">
          </ion-item>
          <ion-item lines="full">
            <ion-label>身份</ion-label>
            <ion-select name="identity" [(ngModel)]="signup.identity" value='student' interface="action-sheet">
              <ion-select-option value='teacher'>教师</ion-select-option>
              <ion-select-option value='student'>学生</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item lines="full">
            <ion-label position="fixed">姓名</ion-label>
            <ion-input name="userName" type="text" placeholder="请输入姓名" [(ngModel)]="signup.userName"></ion-input>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="fixed">工号</ion-label>
            <ion-input name="userNo" type="password" placeholder="请输入教工号/学号" [(ngModel)]="signup.userNo"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="fixed">输入密码</ion-label>
            <ion-input name="password" type="password" placeholder="请输入8-16位密码" [(ngModel)]="signup.password"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="fixed">确认密码</ion-label>
            <ion-input name="confirmPassword" type="password" placeholder="请输入确认密码" [(ngModel)]="confirmPassword">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
          </ion-item>
    
          <ion-button type="submit" (click)="onSubmit()" expand="block">
            注册
          </ion-button>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <h1>注册完成</h1>
      </ion-slide>
    </ion-slides>

    

  </form>
</ion-content>