form{
    width: 100%;
}
.title{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
}
// .inputblock{
//     --background : #f4f5f8;
//     border-radius: 1rem;
    
// }