<ion-header>
  <ion-toolbar color="primary">
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div padding-horizontal>
    <ion-slides #loginSlides>
      <ion-slide>
        
        <form #userNameLoginForm="ngForm">
          <ion-list padding-right no-margin>

            <!-- <ion-item lines="none"></ion-item> -->
            <p class="title">密码登录</p>
            <ion-item lines="full" >
              <ion-label position="fixed">账号</ion-label>
              <ion-input  name="username" type="text"
              placeholder="请输入账号" [(ngModel)]="loginTable.username"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="fixed">密码</ion-label>
              <ion-input name="password" type="password" placeholder="请输入密码" [(ngModel)]="loginTable.password"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-button slot="start" fill="clear" size="small" (click)="onClickSmsLogin()">验证码登录</ion-button>
              <ion-button slot="end" fill="clear" size="small" href="/passport/forgot-passward">忘记密码？</ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-slide>

      <ion-slide>
        <form #phoneLoginForm="ngForm">
          <ion-list padding-right no-margin>

            <p class="title">验证码登录</p>
            <ion-item lines="full">
              <ion-label position="fixed">手机号</ion-label>
              <ion-input name="phone" type="number" placeholder="请输入手机号" [(ngModel)]="loginTable.phone"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="fixed">验证码</ion-label>
              <ion-input name="code" type="number" placeholder="请输入验证码" [(ngModel)]="loginTable.code"></ion-input>
              <ion-button (click)="getCode()" expand="block" fill="clear" shape="round">
                获取验证码
              </ion-button>
            </ion-item>

            <ion-item lines="none">
              <ion-button slot="start" fill="clear" size="small" (click)="onClickPwdLogin()">密码登录</ion-button>
            </ion-item>
          </ion-list>

        </form>
      </ion-slide>
    </ion-slides>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="primary" (click)="onLogin()">登录</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="primary" href="/passport/signup">注册</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>