<ion-header>
  <ion-toolbar color="primary">
    <ion-title>加入的班课</ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="!deleteFlag" (click)="onClickEdit()" expand="block" fill="clear" shape="round">
        编辑
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!deleteFlag" expand="full" (click)="onClickJoin()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button *ngIf="deleteFlag" expand="full" (click)="onClickFinish()">
        完成
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-list *ngIf="enable == true">
    <ng-container *ngFor="let course of courseList">
      <app-course-item [courseInfo]="course" [haveSigninBtn]="1" [status]="deleteFlag" 
      (infoClick)=onClickCourse($event) (signinClick)=onClickSignin($event) 
      (deleteClick)=onClickDelete($event)></app-course-item>
    </ng-container>
  </ion-list>

  <h2 class="center" *ngIf="enable == false">教师账号无法加入班课</h2>

</ion-content>