.div1{
    // background-color: red($color: #000000);
    width: 300px;
    height: 300px;
    margin: auto;
}
.div2{
    text-align: center;
    // margin-top: 40%;
    background: rgba($color: #3880ff, $alpha: 1.0);
}

.margin-top{
	margin-top: 10%;
}
