<ion-header>
  <ion-toolbar color="primary">
    <ion-title>手势签到</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/student/list" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col size="6">开始时间</ion-col>
        <ion-col size="6">{{startString}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="6">结束时间</ion-col>
        <ion-col size="6">{{endString}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div class="div1">
    <div id='patternHolder' class="div2"></div>
  </div>

  

</ion-content>
