<ion-header>
  <ion-toolbar color="primary">
    <ion-title>手势签到</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/teacher/action/main" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-progress-bar type="indeterminate" color="light" *ngIf="hasPost"></ion-progress-bar> -->
  <!-- <div class="div3"> -->
  <!-- <form #postForm="ngForm" (ngSubmit)="onSubmit()"> -->
  <!-- <ion-item color="primary"> -->
  <div class="div1">
    <div id='patternHolder' class="div2"></div>
  </div>
  <!-- </ion-item> -->
  <!-- <ion-button class="ion-margin" shape='round' color="success" expand="block" type="submit" [disabled]="postForm.invalid">
        开始签到
      </ion-button> -->
  <!-- </form> -->
  <!-- </div> -->
  <ion-item lines='none' class="margin-top">
    <ion-label>设置时长</ion-label>
    <ion-select value="60" [(ngModel)]="timeLimit">
      <ion-select-option value="60">一分钟</ion-select-option>
      <ion-select-option value="300">五分钟</ion-select-option>
      <ion-select-option value="600">十分钟</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="onClickCheck()" class="full-btn margin-top" expand="block" shape="round">
    发起签到
  </ion-button>

</ion-content>

<!-- <ion-content color="light">
  <ion-list>
    <ion-item>
      <ion-label>设置手势</ion-label>
    </ion-item>

    <ion-progress-bar type="indeterminate" color="light" *ngIf="hasPost"></ion-progress-bar>
    <div class="div3">
      <form #postForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-item color="primary">
          <div class="div1">
            <div id='patternHolder' class="div2"></div>
          </div>
        </ion-item>
        <ion-button class="ion-margin" shape='round' color="success" expand="block"  type="submit" [disabled]="postForm.invalid">
          开始签到
        </ion-button>
      </form>
    </div>

    <ion-item>
      <ion-label>设置时长</ion-label>
      <ion-select value="60">
        <ion-select-option value="60">一分钟</ion-select-option>
        <ion-select-option value="300">五分钟</ion-select-option>
        <ion-select-option value="600">十分钟</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content> -->