.bigbutton{
    border-radius: 1%;
    width: 18rem;
    height: 18rem;
    border: 2px blue solid;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: 15%;
    background-color: skyblue;
    font-size: 2rem;
}