<ion-header>
  <ion-toolbar color="primary">
    <ion-title>限时签到</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/teacher/action/main" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item>
    <ion-label>设置时长</ion-label>
    <ion-select value="60" [(ngModel)]="timeLimit">
      <ion-select-option value="60">一分钟</ion-select-option>
      <ion-select-option value="300">五分钟</ion-select-option>
      <ion-select-option value="600">十分钟</ion-select-option>
      <ion-select-option value="3600">一小时</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="onClickCheck()" class="full-btn sign-btn" expand="block" shape="round">
    发起签到
  </ion-button>

</ion-content>