<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/teacher/list" (click)="onClickBack()" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="finish == true">
  <h2 class="center">创建成功</h2>
  <h2 class="center">课程号：{{newCourseId}}</h2>
  <qrcode class="center" [qrdata]="newCourseId" [size]="256" [level]="'M'"></qrcode>

</ion-content>

<ion-content color="light" *ngIf="finish == false">
  <form #courseAddForm="ngForm" (ngSubmit)="onSubmit(courseAddForm)">
    <ion-list>
      <ion-item>
        <ion-label>课程名称</ion-label>
        <ion-input type="text" name="courseName" [(ngModel)]="courseAddVo.coursename" placeholder="请输入课程名称" required
          pattern=".{0,10}" [(ngModel)]="courseAddVo.coursename" #name="ngModel"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="name.invalid && name.touched">
        <p [hidden]="!name.errors?.required" class="ion-padding-start">请输入课程名称</p>
        <p [hidden]="!name.errors?.pattern" class="ion-padding-start">您输入的课程名称太长 </p>
      </ion-text>

      <ion-item>
        <ion-label>课程描述</ion-label>
        <ion-input type="text" name="courseDetail" [(ngModel)]="courseAddVo.detailinfo" placeholder="请输入课程描述" required
          pattern=".{0,30}" [(ngModel)]="courseAddVo.detailinfo" #detail="ngModel"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger" *ngIf="detail.invalid && detail.touched">
        <p [hidden]="!detail.errors?.required" class="ion-padding-start">请输入课程描述</p>
        <p [hidden]="!detail.errors?.pattern" class="ion-padding-start">您输入的课程描述太长 </p>
      </ion-text>

      <ion-item>
        <ion-label>班级名称</ion-label>
        <ion-input type="text" name="className" placeholder="请输入班级名称" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>学期</ion-label>
        <ion-select value="2" placeholder="Select Pizza">
          <ion-select-option value="1">2020-2021-2</ion-select-option>
          <ion-select-option value="2">2021-2022-1</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item detail (click)="onClickSchools()">
        <ion-label>
          <ion-text >
            <h2>选择学校及院系</h2>
          </ion-text>
          <ion-text>
            <h2 *ngIf="schoolName != null"> {{schoolName + ' ' + collegeName + ' ' + majorName + ' ' }} </h2>
            <h2 *ngIf="schoolName == null">点击选择学校</h2>
          </ion-text>
        </ion-label>
      </ion-item>


      <ion-button [disabled]="courseAddForm.invalid" type="submit" expand="full" color="primary">提交
      </ion-button>


    </ion-list>





  </form>
</ion-content>