<ion-header>
  <ion-toolbar color="primary">
    <ion-title>我创建的班课</ion-title>
    <ion-buttons slot="start">
      <ion-button *ngIf="!deleteFlag" (click)="onClickEdit()" expand="block" fill="clear" shape="round">
        编辑
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="!deleteFlag" expand="full" href="/tabs/teacher/add">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button *ngIf="deleteFlag" expand="full" (click)="onClickFinish()">
        完成
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ng-container *ngFor="let course of testData">
      <app-course-item [courseInfo]="course" [haveSigninBtn]="0" [status]="deleteFlag" 
      (infoClick)=onClickCourse($event)  
      (deleteClick)=onDeleteCourse($event)></app-course-item>
    </ng-container>
  </ion-list>

</ion-content>
