<ion-header>
  <ion-toolbar color="primary">
    <ion-title>忘记密码</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passport/login" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #signupSlides style="width: 100%;">
    <ion-slide>
      <form #phoneForm="ngForm">
        <ion-list>
          <ion-item lines="none">
          </ion-item>
          <ion-item>
            <ion-label position="fixed">手机号</ion-label>
            <ion-input name="phone" type="number" placeholder="请输入手机号" required #phoneCheck="ngModel"
              pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" [(ngModel)]="phone"></ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="phoneCheck.invalid && phoneCheck.touched">
            <p [hidden]="!phoneCheck.errors?.required" class="ion-padding-start">请输入手机号码</p>
            <p [hidden]="!phoneCheck.errors?.pattern" class="ion-padding-start">请输入正确手机号码</p>
          </ion-text>


          <ion-item >
            <ion-label position="fixed">验证码</ion-label>
            <ion-input name="code" type="number" placeholder="请输入验证码" #codeCheck="ngModel"
             required pattern="[0-9]{4,}" [(ngModel)]="code">
            </ion-input>
            <!-- <ion-button (click)="getCode()" expand="block" fill="clear" shape="round">
              获取验证码
            </ion-button> -->
            <ion-button (click)="getCode()" expand="block" fill="clear" shape="round"
              [disabled]="codeCmpt.btnDisable">
              {{codeCmpt.text}}
              </ion-button>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="codeCheck.invalid &&codeCheck.touched">
            <p [hidden]="!codeCheck.errors?.required" class="ion-padding-start">请输入验证码</p>
            <p [hidden]="!codeCheck.errors?.pattern" class="ion-padding-start">请输入正确验证码</p>
          </ion-text>


          <ion-item lines="none">
          </ion-item>
          <ion-button class="full-btn" [disabled]="phoneForm.invalid" (click)="onNext()" expand="block" shape="round">
            下一步
          </ion-button>
        </ion-list>
      </form>

    </ion-slide>
    <ion-slide>
      <form #pwdForm="ngForm">
        <ion-list>
          <ion-item lines="none">
          </ion-item>
          <ion-item >
            <ion-label position="fixed">输入密码</ion-label>
            <ion-input name="password" type="password" placeholder="请输入6-16位密码" #pwd="ngModel"
            required pattern="^(?=.*[a-z])(?=.*\d)[^]{6,16}$" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="pwd.invalid && pwd.touched">
            <p [hidden]="!pwd.errors?.required" class="ion-padding-start">请输入密码</p>
            <p [hidden]="!pwd.errors?.pattern" class="ion-padding-start">密码格式不正确</p>
          </ion-text>


          <ion-item >
            <ion-label position="fixed">确认密码</ion-label>
            <ion-input name="confirmPassword" type="password" placeholder="请输入确认密码" #cpwd="ngModel"
            required [ysjConfirm]="password" [(ngModel)]="confirmPassword">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-left" color="danger" *ngIf="cpwd.invalid && cpwd.touched">
            <p [hidden]="!cpwd.errors?.required" class="ion-padding-start">请输入密码</p>
            <p [hidden]="!cpwd.errors?.confirm" class="ion-padding-start">两次密码不一致</p>
          </ion-text>


          <ion-item lines="none">
          </ion-item>
          <ion-button class="full-btn" [disabled]="pwdForm.invalid" (click)="onConfirm()" expand="block"   shape="round">
            确认修改
          </ion-button>
        </ion-list>
      </form>
    </ion-slide>
  </ion-slides>

</ion-content>