<ion-item >
  <ion-thumbnail slot="start">
    <img src="assets/img/c_goodspicture.png"  />
  </ion-thumbnail>
  <ion-label>
    <ion-text>
      <h2>{{courseInfo.courseName}}</h2>
    </ion-text>
    <ion-text >
      <p>上课时间：{{courseInfo.startTime}}</p>
    </ion-text>
    <ion-text>
      <p> 教室：{{courseInfo.classRoom}} </p>
    </ion-text>
  </ion-label>
  <ion-note slot="end">
    <ion-button *ngIf="!deleteFlag" (click)="onClickCourse(courseInfo)" expand="block" fill="solid" >
      查看
    </ion-button>
    <ion-button *ngIf="!deleteFlag && haveSigninBtn==1" (click)="onClickSignin(courseInfo)" expand="block" fill="solid" >
      签到
    </ion-button>
  </ion-note>
  
  <ion-button class="del-btn" color="danger" *ngIf="deleteFlag" (click)="onDeleteCourse(courseInfo)" expand="block" fill="clear" >
    删除 
  </ion-button>
</ion-item>