<ion-header>
  <ion-toolbar color="primary">
    <ion-title>班级成员</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/teacher/info" text="返回"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item>
      <ion-label>姓名</ion-label>
      <ion-note>{{member.name}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>学号</ion-label>
      <ion-note>{{member.sid}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>性别</ion-label>
      <ion-note>{{member.gender}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>学校</ion-label>
      <ion-note>{{member.school_name}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>院系</ion-label>
      <ion-note>{{member.college_name}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>专业</ion-label>
      <ion-note>{{member.major_name}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>得分</ion-label>
      <ion-note>{{member.score}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>总签到</ion-label>
      <ion-note>{{member.totalcheck}}</ion-note>
    </ion-item>


    <ion-item>
      <ion-label>实际签到</ion-label>
      <ion-note>{{member.hascheck}}</ion-note>
    </ion-item>


  </ion-list>
  <ion-button class="mid-btn" href="/tabs/teacher/signin-detail" expand="block" fill="solid" >
    查看签到明细
  </ion-button>

</ion-content>
